<div class="container">
    <h1 class="alert alert-danger" role="alert">Table</h1>
    <table class="table table-bordered">
      <thead class="table-grey">
        <tr >
            <th>Sr no</th>
            <th>Name</th>
            <th>Age</th>
            <th>Qualification</th>
            <th>Specification</th>
            </tr>
      </thead>
    

        <tr *ngFor="let data of employeedetails; let i=index;">
            <td>{{i+1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.qualification}}</td>
            <td>{{data.specification}}</td>
        </tr>
    </table>
</div>

